<div class="container-filters">
  <div class="filters col-1 col-lg-5">
    <button type="submit" class="btn-white">DATES</button>
    <button type="submit" class="btn-white">GUESTS</button>
    <button type="submit" class="btn-white">TYPE</button>
    <button type="submit" class="btn-white">PRICE</button>
  </div>
  <div class="arrows col-11 col-lg-7">
    <button type="submit" class="btn-arrow">I WANT A VENUE</button>
    <button type="submit" class="btn-arrow">I WANT A CATERER</button>
    <button type="submit" class="btn-arrow">I WANT A PERFORMER</button>
  </div>
</div>
