<div class="footer">
  <div class="horizontal-line"></div>
    <p class="brand">ELEVENT</p>
  <div class="footer-items">
    <a href="#" target="_blank">About</a>
    <a href="#" target="_blank">Contact</a>
    <a href="#" target="_blank">Terms Of Services</a>
    <a href="#" target="_blank">Privacy Policy</a>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/philtroussel" target="_blank">
    <i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/philtroussel" target="_blank">
    <i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/philippine-troussel-818514109" target="_blank">
    <i class="fab fa-twitter"></i></a>
  </div>
  </div>
</div>
