<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-5">
      <form class="home-form" action="/venues" method="get">
        <h2>Book unique venues and activities to organize your perfect event.</h2>
          <div class="form-group">
            <p class="label-form">WHERE</p>
            <label for="inputWhere"></label>
            <input type="city" name='city' class="form-control" id="inputWhere" placeholder="Barcelona" >
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <div>
                <p class="label-form">CHECK IN</p>
                <label for="time2" id="time2-label"></label>
                <input  id="time2" type="text" class="datepicker" name="usr_date" placeholder="Date">
                <label for="time3" id="time3-label"></label>
                <input id="time3" type="text" class="timepicker" name="usr_time" placeholder="Time">
              </div>
            </div>
            <div class="form-group col-sm-6">
              <div>
                <p class="label-form">CHECK OUT</p>
                <label for="time2" id="time2-label"></label>
                <input  id="time2" type="text" class="datepicker" name="usr_date" placeholder="Date">
                <label for="time3" id="time3-label"></label>
                <input id="time3" type="text" class="timepicker" name="usr_time" placeholder="Time">
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="label-form">GUESTS</p>
            <label for="inputCapacity"></label>
            <input type="capacity" name='capacity' class="form-control" id="inputCapacity" placeholder="Number of guests">
          </div>
        <button type="submit" class="btn-red btn-small btn-left">Search</button>
      </form>
    </div>



    <div class="col-12 col-lg-7">

    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>
</div>


<%= javascript_pack_tag 'home-form' %>
