.navbar-elevent {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-elevent .navbar-collapse {
  flex-grow: 0;
}

.navbar-elevent .navbar-brand img {
  width: 40px;
}

.navbar-elevent .nav-link {
  font-size: 14px;
  font-weight: 500;
}

.navbar-line {
  border-bottom: 0.5px solid rgba(0, 0, 0, .5);
  width: auto;
  padding-bottom: 4.2rem;
}
