.navbar-elevent {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-elevent .navbar-collapse {
  flex-grow: 0;
}

.navbar-elevent .navbar-brand img {
  width: 40px;
}

.navbar-line {
  border-bottom: 0.5px solid $black;
  width: auto;
  padding-bottom: 3.6rem;
}
